# Python virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd


# Pycharm ignored files
.idea


# Local DB ignored
test.db